body {
    background: linear-gradient(#0f0f0f, #272626, #0f0f0f);
    height: 100vh;
}

h1, h3 {
    color: aliceblue;
    font-family: 'Rock Salt', cursive;
    font-weight: bolder;
    text-align: center;

    justify-content: center;
    align-items: center;
}

h1 {margin: 60px;}
p { font-weight: 900;}

h3 {
    font-size: 30px;
    color: aqua !important;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    text-align: center;

    justify-content: center;
    align-items: center;
}

#panel1, #panel2, #panel3 {
    color: rgb(0, 0, 0);
    font-family: 'Rock Salt', cursive;
    font-size: 10px;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 45px;
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 0px 0;
}

#panel1 {background-color: rgb(196, 142, 43);}
#panel2 {background-color:rgb(43, 158, 114);}
#panel3 {background-color:rgb(184, 69, 184);}